$white-color: white;
$white-grey-color: rgb(247, 247, 247);
$lite-grey-color: rgb(238, 238, 238);
$grey-color: grey;
$dark-grey-color: rgb(79, 78, 78);
$green-color: rgb(178, 231, 178);
$red-color: red;
$lite-green-color: rgb(234, 251, 234);